@import 'variables.css';

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #17e9e0;
}

/* Home background styling */
 
#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* Home header styling */

.home.main-container {
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: red; */
	/* width: 100%;
	height: 100%; */
	/* overflow: hidden; */
}

.home.header-wrapper {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--gray);
	width: 13em;
	height: 13em;
	background: white; 
	z-index: 2;
}

.home.header-wrapper p {
	font-family: 'proximaNovaSemiBold';
	font-size: 1em;
}

.home.header-wrapper ul {
	font-family: 'proximaNovaReg';
	font-size: 1em;
	font-weight: 700;
	list-style: none;
	box-sizing: border-box;
	padding: 1em 0;
}

.home.header-wrapper ul li {
	box-sizing: border-box;
	margin: 0.6em 0;
}

.home.header-wrapper ul li a {
	text-decoration: none;
	color: var(--mid-gray);
	border-bottom: 3px solid #17e9e0;
}

.home.header-wrapper ul a:hover {
  border-bottom: 3px solid var(--light-blue);
	transition: border-bottom 0.3s;
	cursor: pointer;
}

/*about.html styles */

.about-header-wrapper {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	color: var(--gray);
	width: 30em;
	height: 30em;
	background: white; 
	z-index: 1;
}
.about-header-wrapper p {
	font-family: 'proximaNovaSemiBold';
	font-size: 1em;
	padding: 10px;
}
.resume.main-container {
	width: 100%;
	height: 100%; 
	box-sizing: border-box;
	padding: 5% 10%;
  }
  
 
  
  
